<% content_for :title, "Editing recipent" %>

<h1>Editing recipent</h1>

<%= render "form", recipent: @recipent %>

<br>

<div>
  <%= link_to "Show this recipent", @recipent %> |
  <%= link_to "Back to recipents", recipents_path %>
</div>
